awscli==1.11.5
BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
botocore==1.4.62
bs4==0.0.1
colorama==0.3.7
crypto==1.4.1
dj-database-url==0.4.2
Django==1.10.6
docutils==0.12
futures==3.0.5
get==0.0.0
gunicorn==19.7.1
jmespath==0.9.0
Naked==0.1.31
post==0.0.0
public==0.0.0
pyasn1==0.1.9
python-dateutil==2.5.3
PyYAML==3.12
query-string==0.0.0
request==0.0.0
requests==2.13.0
rsa==3.4.2
s3transfer==0.1.8
setupfiles==0.0.0
shellescape==3.4.1
six==1.10.0
virtualenv==15.1.0
whitenoise==3.3.0
psycopg2==2.6.2
