awscli==1.11.5
BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
botocore==1.4.62
bs4==0.0.1
colorama==0.3.7
dj-database-url==0.4.2
Django==1.10.6
docutils==0.12
futures==3.0.5
gunicorn==19.7.1
jmespath==0.9.0
pyasn1==0.1.9
python-dateutil==2.5.3
rsa==3.4.2
s3transfer==0.1.8
six==1.10.0
virtualenv==15.1.0
whitenoise==3.3.0
