{% load staticfiles %}
{% load lokahi_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-clean-blog/3.3.7/css/clean-blog.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <title>Landing Page</title>
</head>
<body>
    <header class="intro-header" style="background-image: url({% static 'background2.png' %}); background-color: #ccc">
        <table style="position: absolute; right: 0;">
            <td>
                <a href="/LokahiApp/register/"><button class="Signup btn btn-default" style="border: 1px solid #789;">Signup</button></a>
                </td>
            <td>
                <a href="/LokahiApp/login/"><button class="Login btn btn-default" style="border: 1px solid #789;">Login</button></a>
            </td>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color:black;">Lokahi FinTech</h1>
                        <hr class="small">
                        <span style="color:black;" class="subheading">A Crowdfunding Project</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container" style="margin:20;padding:0">
        <header class="intro-header"><h2>Our Mission</h2></header>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body" style="min-height:100">
                        <span class="glyphicon glyphicon-usd" style="display:inline" aria-hidden="true"></span>
                        <h3 style="display:inline">Smart Investing</h3>
                        <div class="col-12" style="width:60">
                            <br>Here at Lokahi, we aim to give users the best investing experience possible. We provide you will the resources needed to stay informed and make smart investing decisions.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body" style="min-height:100">
                        <span class="glyphicon glyphicon-globe" style="display:inline" aria-hidden="true"></span>
                        <h3 style="display:inline">Connectedness</h3>
                        <div class="col-12" style="width:60">
                            <br>Stay connected with businesses and investors around the globe. Join groups to connect with people and businesses, and make a name for yourself in the financial world.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="panel panel-default" style="min-height:1000">
                    <div class="panel-body" style="min-height:100">
                        <span class="glyphicon glyphicon-envelope" style="display:inline" aria-hidden="true"></span>
                        <h3 style="display:inline">Communication</h3>
                        <div class="col-12" style="width:60">
                            <br> Keep in touch. Send messages to businesses and investors to stay informed on the important issues that affect you. We offer message encryption for extra security.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <header class="intro-header"><h2>About</h2></header>
                <div class="col-12">
                    Lokahi Fintech is a financial technology company that will bring you into the future of finance. Whether you are looking to invest or looking to sell, Lokahi will show you how to become part of a greater community of individuals who help keep the market moving. Through our services, you will be able to send messages to other companies and investors, file reports and upload files, search through recent reports filed by other companies, and become part of a community of companies and investors. 
                    <br><br>
                </div>
            </div>
            <div class="col-8" style="margin-bottom:20;padding-bottom:20">
                <header class="intro-header"><h2></h2></header>
                <div class="col-12">
                    
                </div>
            </div>
        </div>
    </div>
</body>
    