{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-clean-blog/3.3.7/css/clean-blog.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <title>Report</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Report Detail</h1>
            <a class="btn btn-default" href="/LokahiApp/homepage" ><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        {% if reports.timestamp %}
                            <div class="date">
                                {{ reports.timestamp }}
                            </div>
                        {% endif %}
                        <h1>{{ reports.companyName }}</h1>
                        <p>{{ reports.companyLocation|linebreaksbr }}</p>
                        <p>{{ reports.companyCountry|linebreaksbr}}</p>
                        <p>{{ reports.companyPhone|linebreaksbr}}</p>
                        <p>{{ reports.sector|linebreaksbr}}</p>
                        <p>{{ reports.industry|linebreaksbr}}</p>
                        <p>Current Projects: {{ reports.currentProjects }}</p>
{#                        {% if user.is_authenticated %}#}
{#                            <a href="/LokahiApp/{{ reports.upload }}"><p>{{ reports.upload|linebreaksbr}}</p></a>#}
{#                        {% endif %}#}
{#                        <p>Encrypted: {{ reports.encrypted|linebreaksbr}}</p>#}
                        <p>Privacy: {{ reports.privacy|linebreaksbr}}</p>
                        <hr>
                        <form method="POST" class="post-form" enctype='multipart/form-data'>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="save btn btn-default">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>