{% load staticfiles %}
{% load lokahi_extras %}

<html>
    <head>
        <title>Create Reports</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/reports.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1>Create a Report</h1>
        </div>
        <div class="content container">
            {% if not request.user|has_group:"2" %}
            <form method="POST" class="post-form" enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="save btn btn-default">Save</button>
            </form>
            <a href="/LokahiApp/report"><button class="btn btn-default">Return</button></a>
            {% else %}
            You do not have permission to access this page.
            {% endif %}
        </div>
    </body>
</html>