{% load staticfiles %}
{% load lokahi_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/reports.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-header">
    <a href="/LokahiApp/homepage"><h1>Lokahi FinTech</h1></a>
    {% if not request.user|has_group:"2" %}
    <a href="/LokahiApp/report/new/"><button class="createreport btn btn-default">Create a Report</button></a>
    {% endif %}
    <a href="/LokahiApp/groups/"><button class="groups btn btn-default">Groups</button></a>
    {% if request.user|has_group:"3" %}
    <a href="/LokahiApp/sitemanagerindex/"><button class="groups btn btn-default">Site Manager Panel</button></a>
    {% endif %}
    <a href="/LokahiApp/messenger"><button class="messenger btn btn-default">Message</button></a>
    <a href="/LokahiApp/logout"><button class="logout btn btn-default">Log out</button></a>
</div>
<div class="content container">

    <script>
        function clicked(e)
        {
            if(!confirm('Are you sure?'))e.preventDefault();
        }
    </script>

    <!-- TODO: Boostrapify this stuff later -->
    {% if request.user.first_name %}
    <h1>Welcome {{ request.user.first_name }}!</h1>
    {% else %}
    <h1>Welcome {{ name }}!</h1>
    {% endif %}

    <!-- Group creation -->
    <a href="#" onclick="$('#hiddenForm').toggle(); return false;">Create group</a>
    <div style="display: none;" id="hiddenForm">
        <form action="/LokahiApp/createGroup/" method="post">
          {% csrf_token %}
            <b>Group Name: </b>
          <input type="text" name="groupName" id="groupName">
          <input type="submit" value="Create" class="btn btn-primary">
        </form>
    </div>
    <br>

    <!-- View groups -->
    <a href="#" onclick="$('#hiddenUserGroups').toggle(); return false;">User's Groups</a>
    <div style="display: none;" id="hiddenUserGroups">
        <table>
        {% for item in my_groups %}
            {% csrf_token %}
            <tr>
            <td>{{ item }}</td>
            <td><a href="/LokahiApp/leaveGroup/{{ item.id }}/"><button class="btn btn-primary" name=item onclick="clicked(event)">Leave group</button></a></td>
            {% empty %}
            <td>User is not in any groups</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <br>

    <!-- Add other to groups -->
    <a href="#" onclick="$('#hiddenUser').toggle(); return false;">Add other user to group</a>
    <div style="display: none;" id="hiddenUser">
        <form action="/LokahiApp/editGroup/" method="post">
        <table>
            {% if my_groups %}
                <tr>
                    <td>
                        {% csrf_token %}
                        <b>Group: </b><select id="select_group" name="select">
                        {% for item in my_groups %}
                            <option value="{{ item.id }}">{{ item }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td>
                        <b>User: </b>
                        <select id="select_user" name="select">
                        {% for user in users %}
                        {% if not user.is_superuser and user != name and user.is_active %}
                        <option value="{{ user.id }}">{{ user }}</option>
                        {% endif %}
                        {% endfor %}
                        </select>
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="Add to group" onclick="clicked(event)" />
                    </td>
                </tr>
            {% else %}
                <td>User is not in any groups</td>
            {% endif %}
        </table>
        </form>
    </div>
    <br>

    <!-- Join groups: will remove because non-SM's shouldn't be allowed to add themselves to a group
    <a href="#" onclick="$('#hiddenOtherGroups').show(); return false;">Other Groups</a>
    <div style="display: none;" id="hiddenOtherGroups">
        <table>
            {% for item in other_groups %}
            {% csrf_token %}
            <tr>
                <td>{{ item }}</td>
                <td><a href="/LokahiApp/joinGroup/{{ item.id }}/"><button value="Join group" class="btn btn-primary" name=item id='joinGroup'>Join group</button></a></td>
                {% empty %}
                <td>No other groups</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    -->

</div>

</body>
</html>