{% load staticfiles %}
{% load lokahi_extras %}
<html>
    <head>
        <title>Your Inbox</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/reports.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <div class="page-header">
        <a href="/LokahiApp/homepage"><h1>Lokahi FinTech</h1></a>
        {% if not request.user|has_group:"2" %}
        <a href="/LokahiApp/report/new/"><button class="createreport btn btn-default">Create a Report</button></a>
        {% endif %}
        <a href="/LokahiApp/groups/"><button class="groups btn btn-default">Groups</button></a>
        {% if request.user|has_group:"3" %}
        <a href="/LokahiApp/sitemanagerindex/"><button class="groups btn btn-default">Site Manager Panel</button></a>
        {% endif %}
        <a href="/LokahiApp/messenger"><button class="messenger btn btn-default">Message</button></a>
        <a href="/LokahiApp/logout"><button class="logout btn btn-default">Log out</button></a>
        </div>
        <div class="content container">
            {% if request.user.first_name %}
            <h1>{{ request.user.first_name }} Inbox</h1>
            {% else %}
            <h1>{{ name }} Inbox</h1>
            <h3>You Have {{read_messages.count}} Unread Messages</h3>
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                    {% for inbox in inbox_messages %}
                        <div class="reports">
                            <h3><a href="{% url 'individual_message' pk=inbox.pk %}">{{ inbox.sender }}</a></h3>
                            <p>{{ inbox.textbox }}</p>
                            <a href="{% url 'delete_message' pk=inbox.pk %}"><button class="messenger btn btn-default">Delete</button></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <a href="/LokahiApp/messenger"><button class="messenger btn btn-default">Send another Message</button></a>
        </div>
    </body>
</html>