{% load staticfiles %}
<html>
    <head>
        <title>Inbox</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/reports.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1>Inbox</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        {% if inbox_messages.timestamp %}
                            <div class="date">
                                {{ inbox_messages.timestamp }}
                            </div>
                            <p>{{ inbox_messages.recipient }}</p>
                            <p>{{ inbox_messages.textbox }}</p>
                        {% endif %}
                        {% for inbox in past_messages %}
                        <div class="reports">
                            <p>{{ past_messages.textbox }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>