<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In to Lokahi FinTech</title>
</head>
<body>
<h2>Log In to Lokahi FinTech</h2>
<form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Enter your email:</td>
            <td><input type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Enter your password:</td>
            <td><input type="text" name="password"/></td>
        </tr>
        <tr>
            <td>
           </td>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>