{% load staticfiles %}
{% load lokahi_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-clean-blog/3.3.7/css/clean-blog.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <title>Landing Page</title>
</head>
<body>
    <header class="intro-header" style="background-image: url({% static 'background2.png' %}); background-color: #ccc">
        <table style="position: absolute; right: 0;">
            <td>
                <a href="/LokahiApp/register/"><button class="Signup btn btn-default" style="border: 1px solid #789;">Signup</button></a>
                </td>
            <td>
                <a href="/LokahiApp/login/"><button class="Login btn btn-default" style="border: 1px solid #789;">Login</button></a>
            </td>
        </table>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="color:black;">Lokahi FinTech</h1>
                        <hr class="small">
                        <span style="color:black;" class="subheading">A Crowdfunding Project</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <header class="intro-header"><h2>About</h2></header>
                <div class="col-12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan sollicitudin dolor, non accumsan quam ornare at. Mauris non consequat tellus, ac fringilla metus. Vivamus eget ex ut metus imperdiet vehicula. Morbi erat urna, maximus ut rutrum nec, ultrices sed dolor. In sed magna nulla. Phasellus consequat vestibulum sapien, nec tempus dui sodales eu. Ut id elit dui.
                    <br><br>
                </div>
            </div>
            <div class="col-8">
                <header class="intro-header"><h2>Our Team</h2></header>
                <div class="col-12">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan sollicitudin dolor, non accumsan quam ornare at. Mauris non consequat tellus, ac fringilla metus. Vivamus eget ex ut metus imperdiet vehicula. Morbi erat urna, maximus ut rutrum nec, ultrices sed dolor. In sed magna nulla. Phasellus consequat vestibulum sapien, nec tempus dui sodales eu. Ut id elit dui.
                </div>
            </div>
        </div>
    </div>
</body>
    