<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form method="post" action="/login/">
    <table>
        <tr>
            <td>Enter your email:</td>
            <td><input type="email" name="email"/></td>
        </tr>
        <tr>
            <td>Enter your password:</td>
            <td><input type="text" name="password"/></td>
        </tr>
        <tr>
            <td>
           </td>
            <td>
                <button><a href="/LokahiApp/homepage/">Submit</a></button>
                <button><a href="/LokahiApp/">Back</a></button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>