{% load staticfiles %}
{% load lokahi_extras %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{% static 'startbootstrap-clean-blog2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'startbootstrap-clean-blog2/css/clean-blog.css' %}" rel="stylesheet">
        <link href="{% static 'startbootstrap-clean-blog2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body style="margin-left:20;padding-left:0">
        <div class="page-header">
            <a href="/LokahiApp/homepage"><h1>Lokahi FinTech</h1{display: inline;}></a>
            {% if not request.user|has_group:"2" %}
            <a href="/LokahiApp/report/new/"><button class="createreport btn btn-default">Create a Report</button></a>
            {% endif %}
            <a href="/LokahiApp/groups/"><button class="groups btn btn-default">Groups</button></a>
            {% if request.user|has_group:"3" %}
            <a href="/LokahiApp/sitemanagerindex/"><button class="groups btn btn-default">Site Manager Panel</button></a>
            {% endif %}
            <a href="/LokahiApp/messenger"><button class="messenger btn btn-default">Message</button></a>
            <a href="/LokahiApp/search"><button class="Search btn btn-default">Search for report</button></a>
            <a href="/LokahiApp/logout"><button class="logout btn btn-default">Log out</button></a>
        </div>
        <div class="content container">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="Send btn btn-default" type="submit" value="Send" />
            </form>
        </div>
         <div class="content container">
        <a href="/LokahiApp/inbox"><button class="inbox btn btn-default">My Inbox</button></a>
        <a href="/LokahiApp/report"><button class="inbox btn btn-default">Return</button></a>
        </div>
    </body>
</html>