{% load staticfiles %}
{% load lokahi_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'startbootstrap-clean-blog2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'startbootstrap-clean-blog2/css/clean-blog.css' %}" rel="stylesheet">
    <link href="{% static 'startbootstrap-clean-blog2/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <title>Sign Up</title>
</head>
<body>
    <div class="page-header" style="margin:20;padding:20">
        <a href="/LokahiApp/homepage"><h1>Create an Account</h1{display: inline;}></a>
    </div>
    <form action="submit" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Submit">
    </form>
    <a href="/LokahiApp/"><button class="return btn btn-default">Return</button></a>
</body>
</html>