{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="{% static 'startbootstrap-clean-blog2/css/clean-blog.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
    <body>
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% url 'homepage' %}">Home</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'login' %}">Register</a>
                        </li>
                        <li>
                            <a href="{% url 'homepage' %}">Reports</a>
                        </li>
                        <li>
                            <a href="{% url 'create_report' %}">Create a Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="intro-header" style="background-image: url({% static 'startbootstrap-clean-blog2/img/background2.png' %}); background-color: #ccc">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Lokahi Fin Tech</h1>
                            <hr class="small">
                            <span class="subheading">A Crowdfunding Project</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <!-- Marketing Icons Section -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Reports
                    </h1>
                </div>
                {% for report in reports %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4><i class="fa fa-fw fa-check"></i>{{ report.companyName }}</h4>
                            </div>
                            <div class="panel-body">
                                <p class="post-subtitle">Sector: {{ report.sector}}</p>
                                <p class="post-subtitle">Industry: {{ report.industry}}</p>
                                <p class="post-meta">{{ report.timestamp}}</p>
                                <a href="{% url 'result' pk=report.pk %}" class="btn btn-default">Learn More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        </div>
    </body>
</html>