{% load staticfiles %}
<html>
    <head>
        <title>Reports</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/reports.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1>Reports</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% for report in reports %}
                        <div class="reports">
                            <h3>{{ report.companyName }}</h3>
                            <p>{{ report.currentProjects }}</p>
                            <p>timestamp: {{ report.timestamp}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>

</html>