<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<h2>Search</h2>
<form method="post" action="/login/">
    <table>
        <tr>
            <td>Report Date:</td>
            <td><input type="text" name="reportDate"/></td>
        </tr>
        <tr>
            <td>Company Name:</td>
            <td><input type="text" name="password"/></td>
        </tr>
         <tr>
            <td>CEO Name:</td>
            <td><input type="text" name="ceoName"/></td>
        </tr>
        <tr>
            <td>Sector:</td>
            <td><input type="text" name="sector"/></td>
        </tr>
         <tr>
            <td>Industry:</td>
            <td><input type="text" name="industry"/></td>
        </tr>
        <tr>
            <td>Company Location:</td>
            <td><input type="text" name="companyLocation"/></td>
        </tr>
         <tr>
            <td>Company Country:</td>
            <td><input type="text" name="companyCountry"/></td>
        </tr>
        <tr>
            <td>Current Projects:</td>
            <td><input type="text" name="currentProjects"/></td>
        </tr>
        <tr>
            <td>File Name:</td>
            <td><input type="text" name="filename"/></td>
        </tr>
        <tr>
            <td>
           </td>
            <td>
                <button><a href="/LokahiApp/homepage/">Submit</a></button>
                <button><a href="/LokahiApp/homepage/">Back</a></button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>