{% load staticfiles %}
<html>
    <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/reports.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <a href="/LokahiApp/homepage"><h1>Lokahi FinTech</h1></a>
        </div>
        <div class="content container">
            <form method="POST" class="post-form">
                <div class="col-md-8">
                    <tr>
                        <td>Search Request:</td>
                        <td><input type="search" name="search"/></td>
                    </tr>
                            {% csrf_token %}
                            <input type="submit" name="Search" class="Send btn btn-default" value="Search" />
                    </div>
                    <div class="col-md-8">
                        {% if results == 0 %}
                            <h3>Unfortunately there are no results for your Search :( </h3>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        {% for results in results %}
                            <div class="reports">
                                <h3>{{results}}</h3>
                            </div>
                        {% endfor %}
                    </div>
            </form>
        </div>
    </body>
</html>